{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/adm.css' %}">
    <title>ADM-EducaPontos</title>
</head>
<body>
    <div class="nav-bar">
        <img src="{% static 'css/images/logo-row.png' %}" alt="">
        <div class="list-nav">
            <a href="">Professores</a>
            <a href="">Aluno</a>
            <a href="">Relatórios</a>
        </div>
    </div>
    <div class="footer-nav">
        <h3>Aluno e Professor > Senac Piuaí</h3>
    </div>
    <div class="header">
        <h1><strong>1</strong>Cadastro</h1>
    </div>
    <div class="info">
        <div class="img-info">
            <img src="{% static 'css/images/image.png' %}">
        </div>
        <div class="formulario-info">
            <form action="">
                <div class="form-row2">
                    <div>
                        <label for="">Nome*</label>
                        <input type="text" placeholder="Coloque seu nome:">
                    </div>
                    <div>
                        <label for="">CPF</label>
                        <input type="text" placeholder="000-000-000-00">
                    </div>
                    <div>
                        <label for="">RG</label>
                        <input type="text" placeholder="12345678-9">
                    </div>
                </div>
                <div class="form-row6">
                    <div>
                        <label for="">Data de Nacimento*</label>
                        <input type="text" placeholder="__/__/__">
                    </div>
                    <div>
                        <label for="">Codigo de Matrícula*</label>
                        <input type="text" placeholder="0000001">
                    </div>
                    <div>
                        <label for="">Cargo</label>
                        <select name="cargo">
                            <option value="aluno">Aluno</option>
                            <option value="professor">Professor</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Turma</label>
                        <select name="status">
                            <option value="ativo">Turma A 1 Bimestre</option>
                            <option value="inativo">Turma A 2 Bimestre</option>
                            <option value="inativo">Turma B 1 Bimestre</option>
                            <option value="inativo">Turma B 2 Bimestre</option>
                        </select>
                    </div>
                    <div>
                        <label for="">STATUS NA ESCOLA</label>
                        <select name="status">
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Sexo</label>
                        <select name="sexo">
                            <option value="mascunlino">Mascunlino</option>
                            <option value="feminino">Feminino</option>
                        </select>
                    </div>
                </div>
                <div class="form-row2">
                    <div>
                        <label for="">Nome da Mãe*</label>
                        <input type="text" placeholder="Coloque o nome:">
                    </div>
                    <div>
                        <label for="">Nome do Pai*</label>
                        <input type="text" placeholder="Coloque o nome:">
                    </div>
                </div>
                <div class="form-row6">
                    <div>
                        <label for="">Etnia</label>
                        <select name="etnia">
                            <option value="-------">-------</option>
                            <option value="-------">Pardo(a)</option>
                            <option value="-------">Branco(a)</option>
                            <option value="-------">preto(a)</option>
                            <option value="-------">Indigena</option>
                            <option value="-------">Amarelo(a)</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Certidão de Nascimento</label>
                        <input type="text" placeholder="-------">
                    </div>
                    <div>
                        <label for="">Nacionalidade</label>
                        <select name="nacionalidade">
                            <option value="-------">brasileiro(a)</option>
                            <option value="-------">estrangeiro(a)</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Naturalidade</label>
                        <select name="naturalidade">
                            <option value="-------">-------</option>
                            <option value="-------">Acre (AC): acriano(a)</option>
                            <option value="-------">Alagoas (AL): alagoano(a)</option>
                            <option value="-------">Amapá (AP): amapaense</option>
                            <option value="-------">Amazonas (AM): amazonense</option>
                            <option value="-------">Bahia (BA): baiano(a)</option>
                            <option value="-------">Ceará (CE): cearense</option>
                            <option value="-------">Distrito Federal (DF): brasiliense</option>
                            <option value="-------">Espírito Santo (ES): capixaba ou espírito santense</option>
                            <option value="-------">Goiás (GO): goiano(a)</option>
                            <option value="-------">Maranhão (MA): maranhense</option>
                            <option value="-------">Mato Grosso (MT): mato-grossense</option>
                            <option value="-------">Mato Grosso do Sul (MS): sul-mato-grossense</option>
                            <option value="-------">Minas Gerais (MG): mineiro(a)</option>
                            <option value="-------">Pará (PA): paraense</option>
                            <option value="-------">Paraíba (PB): paraibano(a)</option>
                            <option value="-------">Paraná (PR): paranaense</option>
                            <option value="-------">Pernambuco (PE): pernambucano(a)</option>
                            <option value="-------">Piauí (PI): piauiense</option>
                            <option value="-------">Rio de Janeiro (RJ): fluminense</option>
                            <option value="-------">Rio Grande do Norte (RN): potiguar ou norte-rio-grandense</option>
                            <option value="-------">Rio Grande do Sul (RS): gaúcho ou sul-rio-grandense</option>
                            <option value="-------">Rondônia (RO): rondoniano ou rondoniense</option>
                            <option value="-------">Roraima (RR): roraimense</option>
                            <option value="-------">Santa Catarina (SC): catarinense</option>
                            <option value="-------">São Paulo (SP): paulista</option>
                            <option value="-------">Sergipe (SE): sergipano(a)</option>
                            <option value="-------">Tocantins (TO): tocantinense</option>
                        </select>
                    </div>
                    <div>
                        <label for="">Necessidades Especiais</label>
                        <select name="necessidade">
                            <option value="-------">Nenhuma</option>
                            <option value="-------">Auditiva</option>
                            <option value="-------">Visual</option>
                            <option value="-------">Motora</option>
                            <option value="-------">Mental</option>
                            <option value="-------">Intelectual</option>
                        </select>
                    </div>
                    <div>
                        <label for="">TELEFONE</label>
                        <input type="text" placeholder="+55 (XX) 9XXXX-XXXX">
                    </div>
                </div>
                <div class="confirm">
                    <button>
                        Salvar
                    </button>
                </div> 
            </form>
        </div>
    </div>
</body>
</html>