{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/aluno.css' %}">
    <title>Aluno-EducaPontos</title>
</head>
<body>
    <div class="nav-bar">
        <img src="{% static 'css/images/logo-row.png' %}" alt="">
        <div class="list-nav">
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'desempenho' %}">RANKING</a>
        </div>
        <div class="name-aluno">
            <h1>
                Olá, Diego Ribeiro
                <br>
                <strong>
                    1 Série Ens-Médio
                </strong>
            </h1>
            <img src="{% static 'css/images/aluno.png' %}" alt="">
        </div>
    </div>
    <div class="footer-nav">
        <h3>Desempenho do Aluno</h3>
    </div>
    <div class="header">
        <div>
            <h2>Informar Desempenho:</h2>
            <select name="" id="">
                <option value="">Português</option>
                <option value="">Ciências</option>
                <option value="">Geografia</option>
                <option value="">História</option>
                <option value="">Matemática</option>
            </select>
        </div>
    </div>
    <div class="mid">
        <div class="tabela-aluno">
            <table>
                <tr style=" height: 30px; box-shadow: 0px 1px black;">
                    <th>MATERIAS</th> 
                    <th>Média de Ciências</th>
                    <th>Média de Geografia</th>
                    <th>Média de História</th>
                    <th>Média de Matemática</th>
                    <th>Média de Português</th>
                    <th>MÉDIA-TOTAL</th>
                </tr>
                <tr>
                    <td>1 SIMESTRE (Janeiro)</td>
                    <td>8.5</td>
                    <td>7.0</td>
                    <td>9.0</td>
                    <td>6.5</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>1 SIMESTRE (Fevereiro)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>1 SIMESTRE (Março)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>1 SIMESTRE (Abril)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>1 SIMESTRE (Maio)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>1 SIMESTRE (Junho)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>2 SIMESTRE (Julho)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>2 SIMESTRE (Agosto)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr><tr>
                    <td>2 SIMESTRE (Setembro)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>2 SIMESTRE (Outubro)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>2 SIMESTRE (Novembro)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>2 SIMESTRE (Dezembro)</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
                <tr>
                    <td>MÉDIA MATÉRIA</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <div class="media">
                        <td>7.0</td>
                    </div>
                </tr>
            </table>
        </div>
        <div class="graficos">
            <img src="{% static 'css/images/grafico.png.jpeg' %}" alt="">
        </div>
    </div>
</body>
</html>