<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="professor.css">
    <title>Professor-EducaPontos</title>
</head>
<body>
    <div class="nav-bar">
        <img src="./assts/logo-row.png" alt="">
        <div class="name-professor">
            <h1>
                Olá, Felipe
                <br>
                <strong>
                    PROFESSOR
                </strong>
            </h1>
            <img src="./assts/icons8-professor-externo-ciência-pixer-icons-pack-dmitry-mirolyubov-88.png" alt="">
        </div>
    </div>
    <div class="footer-nav">
        <h3>Desempenho do Aluno</h3>
    </div>
    <div class="header">
        <div>
            <h2>Informar Desempenho:</h2>
            <select name="" id="">
                <option value="">Português</option>
                <option value="">Ciências</option>
                <option value="">Geografia</option>
                <option value="">História</option>
                <option value="">Matemática</option>
            </select>
        </div>
        <div>
            <h2>Codigo do Aluno:</h2>
            <select name="" id="">
                <option value="">00001</option>
                <option value="">00002</option>
            </select>
        </div>
        <div>
            <h2>Periodo Letivo:</h2>
            <select name="" id="">
                <option value="">1 Simestre</option>
                <option value="">2 Simestre</option>
            </select>
        </div>
    </div>
    <div class="mid">
        <div class="tabela-turmas">
            <h1>TURMAS</h1>
            <select name="" id="">
                <option value="todas">Todas</option>
                <option value="turma1">Turma A 1 Bimestre</option>
                <option value="turma2">Turma A 2 Bimestre</option>
                <option value="turma3">Turma B 1 Bimestre</option>
                <option value="turma4">Turma B 2 Bimestre</option>
            </select>
        </div>
        <div class="tabela-aluno">
            <table>
                <tr style=" height: 30px; box-shadow: 0px 1px black;">
                    <th>Nome_aluno</th> 
                    <th>Média de Ciências</th>
                    <th>Média de Geografia</th>
                    <th>Média de História</th>
                    <th>Média de Matemática</th>
                    <th>Média de Português</th>
                </tr>
                <tr>
                    <td>Clara Ribeiro</td>
                    <td>8.5</td>
                    <td>7.0</td>
                    <td>9.0</td>
                    <td>6.5</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Gabriel Antune</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Leticia Costa</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Leonardo Mendes</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Leonardo Mendes</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Leonardo Mendes</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Leonardo Mendes</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Leonardo Mendes</td>
                    <td>9.2</td>
                    <td>8.5</td>
                    <td>7.8</td>
                    <td>8.0</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>7</td>
                    <td>7.12</td>
                    <td>7</td>
                    <td>7.16</td>
                    <td>7.7</td>
                </tr>
            </table>
        </div>
        <div class="graficos">
            <img src="./assts/grafico.png.jpeg" alt="">
        </div>
    </div>
</body>
</html>